@media (max-width: 320px) {
    //main_page
    header {
        height: 274px;
        .menu-list {
            font-size: 30px;
            height: 420px;
            .img-cancel {
                margin-left: 20px;
            }
            ul {
                margin-left: 20px;
                li {
                    margin-top: 20px;
                }
            }
        }
        .menu {
            top: -20px;
            .logo {
                font-size: 25px;

                a {
                    color: #000;
                }
            }
            .burger_menu {
                left: 265px;
                top: 0px;
                .burger_line + .burger_line {
                    margin-top: 8px;
                }
                .burger_line {
                    width: 35px;
                    height: 3px;
                    background-color: rgba(0, 0, 0, 1);
                }
            }
        }
        video {
            top: 63px;
        }
    }
    .second_screen {
        .info-box {
            margin: 100px auto;
            width: 280px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: center;
        }
    }
    .artists {
        height: 800px;
        margin-bottom: 115px;
        position: relative;
        .artists-title {
            font-size: 25px;
            color: rgba(0, 0, 0, 1);
            margin-bottom: 60px;
        }
        .artists-name {
            display: none;
        }
        .artists-img {
            width: 320px;
            height: 738.02px;
            position: absolute;
            left: 0;
            background: url(../img/main/art_mobile.png);
            img {
                display: none;
            }
        }
    }
    .works_artists {
        .all_works-btn {
            display: flex;
        }
        margin-top: 100px;
        .works-slider {
            position: relative;
            .slick-dots {
                position: absolute;
                display: flex;
                top: 474px;
                li + li {
                    margin-left: 55px;
                }
                li {
                    font-size: 0;
                    background-color: rgba(121, 120, 120, 1);
                    border-radius: 50%;
                    margin-bottom: 50px;
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                }
                button {
                    background-color: rgba(121, 120, 120, 1);
                    border: none;
                    font-size: 0;
                    padding: 0;
                }
            }
            display: flex;
            margin-bottom: 100px;
            justify-content: center;
            position: relative;
            .slick-slide {
                width: 320px;
                height: 450px;
                display: flex;
                justify-content: center;
                align-items: center;
                .item {
                    img {
                        width: 100%;
                    }
                }
            }
        }
        .works_inner {
            display: none;
        }
    }
    .third_screen {
        display: none;
    }
    .about_gallery {
        margin-top: 0;
        margin-bottom: 100px;
        position: relative;
        .gallery_inner {
            display: flex;
            flex-direction: column-reverse;
            .gallery-img-inner {
                align-items: flex-start;
                .gallery-img {
                    position: absolute;
                    left: 0;
                    width: 320px;
                    img {
                        width: 100%;
                    }
                }
                .gallery-info-box {
                    margin-top: 412px;
                    display: block;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: justify;
                    width: 280px;
                }
            }
            .gallery-info {
                margin: 0 auto;
                .gallery-title {
                    font-size: 25px;
                    margin-bottom: 60px;
                }
                .gallery-info-box {
                    display: none;
                }
            }
        }
    }
    .news_screen {
        margin-bottom: 100px;
        .news-btn {
            display: none;
        }
        .title_news {
            font-size: 30px;
            margin-bottom: 50px;
        }
        .news-inner {
            .news-item + .news-item {
                margin-top: 60px;
            }
            .news-item {
                margin-left: -15px;
                flex-direction: column;
                .news-img {
                    width: 320px;
                    img {
                        width: 100%;
                    }
                }
                .news-info {
                    margin-left: 20px;
                    .news-date {
                        margin: 0px 0;
                    }
                    .news-title {
                        margin-top: 13px;
                        width: 280px;
                        font-size: 16px;
                        line-height: 23px;
                    }
                    .news-info-box {
                        display: none;
                    }
                }
            }
        }
    }
    footer {
        height: 608px;
        .footer-logo {
            margin: 40px auto;
            font-size: 16px;
        }
        .footer-inner {
            flex-direction: column;
            font-size: 16px;
            padding-top: 40px;

            .footer-sm {
                margin-top: 60px;
                .sm-item {
                    text-align: center;
                }
                .sm-item.phone {
                    margin-top: 40px;
                }
                .sm-item.icons {
                    margin-top: 40px;
                    justify-content: center;
                }
            }
            .footer-menu {
                ul {
                    li + li {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
    ///о художниках
    .all_artist {
        height: 110px;
        .menu-list {
            font-size: 30px;
            height: 420px;
            .img-cancel {
                margin-left: 20px;
            }
            ul {
                margin-left: 20px;
                li {
                    margin-top: 20px;
                }
            }
        }
        .menu-artist {
            padding-top: 20px;
            .logo-artist {
                font-size: 25px;
            }
            .burger-menu-artist {
                right: 20px;
                div + div {
                    margin-top: 8px;
                }
                .burger-line-artist {
                    height: 3px;
                }
            }
        }
    }
    .screen_jan-artist {
        .all_works-btn {
            display: flex;
        }
        .jan-inner {
            flex-direction: column-reverse;
            .jan-img {
                margin-left: -15px;
                width: 320px;
                img {
                    width: 100%;
                }
            }
            .jan-img-info {
                .jan-title {
                    margin: 60px auto;
                    font-size: 30px;
                    line-height: 43px;
                    text-align: center;
                    width: 280px;
                    display: flex;
                    justify-content: center;
                    img {
                        top: 680px;
                        position: absolute;
                        width: 100%;
                        left: 60px;
                    }
                    .jan-title.kit {
                        margin: 0 auto;
                    }
                    .andy-img {
                        height: 394px;
                        left: 0px;
                        top: 600px;
                        img {
                            height: 100%;
                        }
                    }
                    .andy-img.kit {
                        top: 510px;
                        height: 279px;
                        width: 200px;
                        left: unset;
                        img {
                            height: 100%;
                        }
                    }
                }
            }
        }
        .jan-info {
            margin: 60px auto;
            font-family: "Montserrat", sans-serif;
            margin-top: 0;
            font-size: 14px;
            line-height: 25px;
            width: 280px;
        }
    }
    //галерея
    .first-gallery {
        margin-bottom: 0;
        .inner-gallery1 {
            flex-direction: column-reverse;
            .item-gallery1 {
                .item-author {
                    font-size: 16px;
                }
                .item-title {
                    margin-top: 0px;
                    margin-bottom: 100px;
                    font-size: 14px;
                }
            }
            .item-gallery1.first {
                margin-top: 0px;
            }
        }
    }
    .single-art {
        margin-bottom: 100px;
        .single-img-inner {
            .single-item {
                width: 320px;
                .item-author {
                    font-size: 16px;
                }
                .item-title {
                    margin-top: 0px;
                    font-size: 14px;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    //ошибка
    .mistake {
        background: #000;
        .logo-mistake {
            position: relative;
            padding-top: 160px;
            margin-top: 0;
            font-size: 40px;
            a {
                color: rgba(255, 255, 255, 1);
            }
            .logo-text {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 2;
                span {
                    color: rgba(255, 255, 255, 1);
                }
            }
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
            img {
                position: absolute;
                left: 180px;
                z-index: 1;
                top: 0px;
            }
        }
        .mistake-inner {
            position: relative;
            z-index: 100;
            margin-top: 140px;
            .mistake-info {
                text-align: center;
                font-size: 25px;
                line-height: 36px;
                color: rgba(226, 226, 226, 1);
            }
            .btn-inner {
                max-width: 640px;
                display: flex;
                justify-content: center;
                .mistake-btn {
                    margin-top: 40px;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 34px;
                    font-family: "Jost", sans-serif;
                    border: 4px solid #e2e2e2;
                    align-items: center;
                    height: 50px;
                    max-width: 200px;
                    color: rgba(255, 255, 255, 1);
                    a {
                        color: rgba(255, 255, 255, 1);
                    }
                    .btn {
                        margin: 16px 72px;
                    }
                }
            }
        }
    }
    //новости
    .all_news {
        .news-inner {
            margin: 0 0 40px -60px;
            .news-item {
                width: 100%;
                margin-left: 60px;
                .news-item-img {
                    img {
                        width: 100%;
                    }
                }
                .news-item-date {
                    font-size: 14px;
                }
                .news-item-title {
                    margin: 10px 0 60px 0;
                    width: 280px;
                    font-size: 16px;
                    line-height: 23px;
                }
            }
        }
        .news-title-main {
            font-size: 30px;
            margin: 0 auto;
        }
        .big-news {
            position: relative;
            .big-news-img {
                display: flex;
                justify-content: center;
                width: 320px;
                margin-left: -15px;
                img {
                    width: 100%;
                }
            }
            .big-news-date {
                top: 140px;
                left: 0px;
                font-size: 14px;
            }
            .big-news-title {
                font-size: 16px;
                line-height: 23px;
                margin: 40px 0 60px 0;
            }
        }
    }
    //страница картины
    .picture-title-main {
        margin: 0px auto 50px auto;
        .picture-title-inner {
            .picture-title-author {
                font-size: 16px;
            }
            .picture-title {
                font-size: 30px;
                font-weight: 700;
                line-height: 43px;
                margin-top: 20px;
            }
        }
    }
    .main-img-picture {
        width: 320px;
        .img-inner-title {
            .price-img {
                font-size: 16px;
                line-height: 23px;
            }
            .material-img {
                font-family: Jost;
                font-size: 14px;
                line-height: 20px;
                margin-top: 10px;
                margin-bottom: 100px;
            }
        }
        .main-img-inner {
            width: 320px;
            margin-left: -15px;
            margin-bottom: 20px;
            .bg-item {
                display: none;
            }
            .main-img-item {
                img {
                    width: 100%;
                }
            }
        }
    }
    .main-info-img {
        margin-bottom: 100px;
        .info-inner-img {
            display: flex;
            position: relative;
            justify-content: center;
            .info-box {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                text-align: justify;
                width: 280px;
            }

            .info-bg-img {
                display: none;
            }
        }
    }
    .images-wrapper {
        margin-bottom: 60px;
        .images-inner {
            flex-direction: column;
            align-items: center;
            .item {
                width: 320px;
                display: flex;
                justify-content: center;
                img {
                    width: 100%;
                }
            }
            .item.img1 {
                width: 200px;
                height: auto;
            }
            .item.img2 {
                height: auto;
                width: 240px;
                margin-left: 0px;
            }

            .item.img3 {
                margin-top: 60px;
                height: 200px;
                width: 200px;
            }
            .item.img4 {
                margin-top: 60px;
                height: auto;
                width: 280px;
                margin-left: 0px;
            }
        }
    }
    .marks {
        margin-bottom: 100px;
        .marks-inner {
            display: flex;
            flex-wrap: wrap;
            .info-box {
                width: 100%;
                &.active {
                    display: block;
                }
                display: none;
                width: 280px;
                padding: 40px;
                margin-top: 40px;
                .info-text {
                    font-size: 14px;
                    line-height: 25px;
                }
            }
            .marks-item-points {
                margin-left: 0px;
                width: 100%;
                .marks-title-main {
                    font-size: 16px;
                    line-height: 23px;
                }
                .marks-list {
                    margin-top: 40px;
                    display: flex;
                    flex-direction: column;
                    .list-points + .list-points {
                        margin-top: 40px;
                    }
                    .list-points {
                        flex-direction: column-reverse;
                        .inner-circle {
                            display: flex;
                            margin: 0 auto;
                            .circle + .circle {
                                margin-left: 20px;
                            }
                            .circle {
                                height: 20px;
                                width: 20px;
                            }
                        }
                        .title {
                            font-family: "Montserrat", sans-serif;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 25px;
                            text-align: center;
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
    .feedback-form {
        .feedback-form-inner {
            .btn-inner {
                margin: 0 auto 100px auto;
                width: 200px;
                height: 50px;
                .btn {
                    font-size: 16px;
                    line-height: 23px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    margin: 10px 56px;
                }
            }
            .title {
                font-size: 25px;
                line-height: 36px;
            }
            .info {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                text-align: center;
                margin: 60px auto;
                width: 280px;
            }
            .form-inner {
                margin-bottom: 60px;
                form {
                    input + input {
                        margin-top: 40px;
                    }
                    input {
                        height: 45px;
                        font-size: 16px;
                        line-height: 23px;
                        width: 280px;
                    }
                }
            }
        }
    }

    //страница новостей

    .shoe {
        .shoe-inner {
            height: 300px;
            width: 320px;
            margin: 70px 0px 0px -15px;
            .video-inner {
                width: 320px;
                height: auto;
                top: -60px;
                img {
                    width: 100%;
                }
            }
            .shoe-date {
                font-family: "Jost", sans-serif;
                font-size: 14px;
                font-style: italic;
                font-weight: 300;
                line-height: 20px;
            }
            .shoe-title {
                width: 260px;
                text-transform: unset;
                font-size: 30px;
                line-height: 43px;
                text-align: center;
                .mobile {
                    color: rgba(226, 226, 226, 1);
                }
                .desktop.two {
                    color: rgba(226, 226, 226, 1);
                }
                .desktop {
                    color: rgba(60, 61, 61, 1);
                }
            }
        }
    }
    .shoe-info {
        .shoe-info-inner {
            margin: 0 auto 60px auto;
            width: 280px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: justify;

            .info-item + .info-item {
                margin-top: 40px;
            }
        }
    }
    .shoe-slider {
        .slider-inner {
            display: flex;
            margin-bottom: 80px;
            justify-content: center;
            position: relative;
            height: 200px;
            .slick-track {
                display: flex;
                align-items: center;

                .slick-slide {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                    }
                }
            }
            .slick-next.slick-arrow {
                border: none;
                position: absolute;
                top: 100%;
                right: -15px;
                cursor: pointer;
            }
            .slick-dots {
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                li {
                    font-size: 0;
                    background-color: #e2e2e2;
                    border-radius: 50%;
                    margin-bottom: 20px;
                    width: 7px;
                    height: 7px;
                    margin-left: 10px;
                    cursor: pointer;
                }
                button {
                    background-color: rgba(0, 0, 0, 1);
                    border: none;
                    font-size: 0;
                    padding: 0;
                }
            }
        }
    }
    .exclusive_model {
        margin-bottom: 100px;
        .exclusive-inner {
            .exclusive-title {
                font-size: 16px;
                line-height: 23px;
                margin-bottom: 40px;
                margin-left: 4px;
                width: 276px;
            }
            .exclusive-info {
                flex-direction: column;

                .bg-img {
                    display: none;
                }
                .exclusive-info-img {
                    width: 320px;
                    margin: 60px 0px 0px -15px;

                    img {
                        width: 100%;
                    }
                }
                .exclusive-info-text {
                    margin: 0 auto;
                    .info-box + .info-box {
                        margin-top: 40px;
                    }
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 25px;
                    letter-spacing: 0em;
                    text-align: justify;
                }
            }
        }
    }
    .blue-quote {
        margin-bottom: 45px;
        .blue-quote-inner {
            font-size: 22px;
            line-height: 26px;
            .blue-quote-text {
                width: 259px;
                margin-left: 5px;
            }
        }
    }
    .video-review {
        margin-bottom: 60px;
        .video-review-inner {
            .video {
                video {
                    width: 280px;
                    height: auto;
                }
            }
        }
    }
    .online-shop {
        .online-shop-inner {
            display: flex;
            flex-direction: column;
            .button-last {
                display: none;
            }
            .author {
                font-size: 14px;
                font-weight: 300;
                line-height: 20px;
                margin-top: 60px;
                margin-bottom: 100px;
            }
            .online-shop-title {
                margin-left: 0px;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;
            }
            .online-shop-list {
                margin-left: 0px;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 400;
                line-height: 25px;
                text-align: left;

                ul {
                    li {
                        text-decoration: underline;
                        margin-top: 40px;
                    }
                }
            }
        }
    }
    .jan-michel {
        margin-top: 40px;
        .jan-artist-inner {
            display: flex;
            flex-direction: column;
            position: relative;
            align-items: center;
            .jan-img {
                position: relative;
                width: 320px;
                img {
                    width: 100%;
                    margin-top: 110px;
                }
                .bg-one {
                    position: absolute;
                    top: -44px;
                    left: 170px;
                    z-index: 100;
                }
                .bg-two {
                    display: none;
                }
            }
            .jan-title {
                font-size: 30px;
                font-weight: 700;
                line-height: 43px;
                max-width: 605px;
                color: #000;
                margin-bottom: 74px;
            }
        }
    }

    .about-jan-screen {
        margin-top: 130px;
        .blue-text-inner {
            margin-top: 100px;
            font-size: 22px;
            line-height: 26px;
            justify-content: flex-end;
            align-items: center;
            .blue-text {
                margin-left: 10px;
                width: 264px;
            }
        }
        .inner-photos {
            margin: 0 auto;
            max-width: 820px;
            display: flex;
            flex-direction: column;
            .item-images {
                display: flex;
                .image.img3 {
                    max-width: 214px;
                    top: 320px;
                    left: -170px;
                    .img-title {
                        max-width: 160px;
                        text-align: center;
                        margin: 0 auto;
                        margin-top: 20px;
                    }
                }
                .image {
                    position: unset;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto 60px auto;
                    width: 214px;

                    img {
                        width: 100%;
                    }
                    .img-title {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }

            .item-text {
                margin-left: 0px;
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 25px;
                letter-spacing: 0em;
            }
        }
    }

    .info-jan.second.screen2 {
        position: relative;
        .bg-writing {
            position: absolute;
            top: -155px;
            right: 400px;
        }
    }
    .info-jan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 100px;
        .info-wrapper {
            width: 275px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            text-align: justify;
        }

        .dots-img {
            display: none;
        }
        .dots-img.diademma {
            max-width: 128px;
            height: 118px;
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }
    .big-info-jan {
        display: flex;
        flex-direction: column;
        .big-info-inner {
            color: #3c3d3d;
            display: flex;
            justify-content: flex-end;
            font-size: 22px;
            font-weight: 300;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: justify;
            .big-info-text {
                display: none;
                margin-right: 95px;
                .item + .item {
                    margin-top: 140px;
                }
                .item {
                    max-width: 427px;
                }
            }
            .big-info-img {
                .item-img {
                    width: 320px;
                    img + img {
                        margin-top: 100px;
                    }
                    img {
                        margin-left: -15px;
                        width: 100%;
                    }
                    .item {
                        display: block;
                        font-family: "Montserrat", sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: justify;
                        width: 280px;
                        margin-top: 100px;
                    }
                }
                .item-img.second {
                    margin-top: 104px;
                }
                .item-img.title {
                    margin-top: 138px;
                    display: flex;
                    flex-direction: column;
                    .img-jan-title {
                        font-size: 14px;
                        line-height: 21px;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
    .info-jan.second {
        margin: 100px 0 64px 0;
    }
    .all_artist.artist {
        height: 110px;
    }
    .all_artist {
        .img-print {
            display: none;
        }
        .img-blue {
            position: absolute;
            z-index: -100;
            left: -160px;
            height: 626px;
            top: 303px;
            width: 320px;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .menu-artist {
            padding-top: 20px;
            .logo-artist {
                font-size: 25px;
            }
            .burger-menu-artist {
                right: 20px;
                div + div {
                    margin-top: 8px;
                }
                .burger-line-artist {
                    height: 3px;
                }
            }
        }
    }
}
